<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/tailwind.css" />
    <script src="~/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/main.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/typed.js"></script>
</body>

</html>
