body, html {
    height: 100%;
}
#sidebar {
    overflow: scroll;
}
.padding-0 {
    padding: 0 !important;
}
.margin-0 {
    margin: 0 !important;
}
.form-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.group-width-icon {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding-left: 5px;
    color: #373A3C;
}

    .group-width-icon input {
        border: none;
        width: 100%;
        background: transparent;
        padding: 13px 25px 13px 25px;
        line-height: 22px;
        font-size: 16px;
        outline: none;
    }

    .group-width-icon i:not(.eye-icon) {
        position: absolute;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        z-index: 1;
        font-size: 20px;
    }

.wrap-form-field {
    margin-bottom: 10px;
    text-align: left;
}

    .wrap-form-field .form-group {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .wrap-form-field input[type=checkbox] {
        margin: 0 14px;
    }
    .non-underline{
        text-decoration:none !important;
    }